.debug2{
  background-color: blueviolet;
  border:1px solid black;
}
.debug{
  background-color: #1b70e89a;
  border:1px solid black;
}



.custom-dropdown-toggle::after {
  display: none;
}

.logo-mobile{
  width:50px;
  
}

.side-bar{
  background-color: #051E34;
  background-image: url(../img/sidebar-bg.png);
  background-size: contain;
  height: 100%; /*da sistemare in base alla grandezza del logo che si trova sulla nav bar */
  margin-right:0;
}


main .side-bar a{
  position: relative;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
main .side-bar a span{
  position: absolute;
  left: 35px;
}
.cnt-sidebar{
  padding-right: 0;
  
}
.cnt-bluebar{
height: 100px;
background-color: #1B72E8;
}
.cnt-7{
  width: 65%;
}
.cnt-4{
  width: 30%;
}
.prossime-classi{
  height: 40vh;
}
.todo{
  height: 20vh;
}
.todos{
  height: 150px;
}
.faq{
  height: 50vh;
}



@media screen and (min-width:992px) {
  .side-bar{
    height: calc(100vh - 59px);
  }
}

