.debug2{
  background-color: blueviolet;
  border:1px solid black;
}
.debug{
  background-color: #1b70e89a;
  border:1px solid black;
}



.custom-dropdown-toggle::after {
  display: none;
}

.logo-mobile{
  width:50px;
  
}

.side-bar{
  background-color: #051E34;
  background-image: url(../img/sidebar-bg.png);
  background-size: contain;
  height: 100%; /*da sistemare in base alla grandezza del logo che si trova sulla nav bar */
  margin-right:0;
}


main .side-bar a{
  position: relative;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
main .side-bar a span{
  position: absolute;
  left: 35px;
}

.cnt-sidebar{
  padding-right: 0;
  
}
.cnt-bluebar{
background-color: #1B72E8;
}
.span-style{
  font-size: 11px;
  padding: 3px 5px;
  background-color: #165BBA;
  font-weight: 600;
  border-radius: 25px;
  margin-left: 5px;
}
#blaze{
  position: absolute;
  left: 110px;
  top: 13px;
}
.studenti{
  font-size: 14px;
}
.nuovo-studente span{
  font-size: 14px;
}

.prossime-classi{
  height: 40vh;
}
.todo{
  height: 20vh;
}
.todos{
  height: 150px;
}
.faq{
  height: 50vh;
}



@media screen and (min-width:992px) {
  .offcanvas{
    width: 50% !important;
  }
}

