
.debug{
  border:1px solid #D2D2D2;
}



.custom-dropdown-toggle::after {
  display: none;
}

.logo-mobile{
  width:50px;
  
}

.side-bar{
  background-color: #051E34;
  background-image: url(../img/sidebar-bg.png);
  background-size: contain;
  height: 100%;
  margin-right:0;
}


main .side-bar a{
  position: relative;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
main .side-bar a span{
  position: absolute;
  left: 35px;
}
.cnt-sidebar{
  padding-right: 0;
  
}
.cnt-bluebar{
background-color: #1B72E8;
}
.span-style{
  font-size: 11px;
  padding: 3px 5px;
  background-color: #165BBA;
  font-weight: 600;
  border-radius: 25px;
  margin-left: 5px;
}
#blaze{
  position: absolute;
  left: 110px;
  top: 13px;
}
.studenti{
  font-size: 14px;
}
.nuovo-studente span{
  font-size: 14px;
}

.col-11 h3{
  background-color: #F7F7F7;
  padding: 10px;
}
.todo{
  height: 200px;
}

.faq{
}
.activity{
  height: 500px;
}
.img-table{
  width: 7%;
}
.td-rules{
  width: 50%;
}
.span-table{
  width: 70%;
}
.btn-rules{
  font-size: 10px;
}
.btn-size{
  font-size: 80%;
}




@media screen and (min-width:992px) {
  .offcanvas{
    width: 50% !important;
  }
  .side-bar{
    /* height: 100vh; */
  }
}

